.contentpage{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    font-size: 3rem;
    margin: 1rem 0;
}
.desc{
    font-size: 1rem;
    font-weight: 300;
}
.clientimgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.clientimg{
    object-fit: cover;
    width: 23%;
    max-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clients{
    padding: 2rem;
}
.contactpagetitle{
    margin: 0.9rem auto;
    font-size: 3rem
}
.contactdesc{
    margin: 1rem 1rem;
    font-size:1.1rem;
    font-weight: 300;
}
.contactform{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
    color: white;
}
.name, .email, .msg{
font-size: medium;
width: 100%;
max-width: 40rem;
margin: 0.5rem 0.5rem;
padding: 0.5rem 1rem;
color: white;
border: none;
border-radius: 0.5rem;
background-color: rgb(40, 40, 40);
}
.submitbtn{
    color:black;
    background: white;
    margin: 1rem 1rem;
    padding: 0.75rem 3.5rem;
    border: none;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}
.submitbtn:hover{
    background-color:  rgb(189, 147, 20);
    transition: 1s;
}
.links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    object-fit: cover;
    height: 3rem;
    width:3rem;
    margin: 0 0.75rem;
}