#works{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;

}
.worktitle{
    font-size: 3.6rem;
    margin: 2rem 0 2rem 0;
}
.workDesc{
    font-size: 1rem;
    font-weight: 300;
    max-width: 45rem;
    margin: 0 0 1rem 0;}
.workimgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}
.workimg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}
.workimg:hover{
    height: 22rem;

    transition: 0.8s; 
    transform: scale(1.23);
     box-shadow: 0 13px 20px rgb(255, 152, 35);
    cursor: pointer;
}
.worksbtn{
    background-color: white;
    color: black;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    margin: 2rem auto;
    cursor: pointer;
    font-size: 1rem;
}
.worksbtn:hover{
    background-color: rgb(207, 161, 23);
    transition: 1s;
}

@media screen and(max-width:585px) {

    .workimg{
        height: 50vh;
    }
}