.intro{
    min-height: calc(100vh - 4rem);
    width: 100vw;   
    max-width:75rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    
}
.intro-img{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}
.intro-img:nth-child(1){
    width: 38rem;
    background: linear-gradient(90deg transparent 50%, #262525 50%);

}
.intro-img:nth-child(2){
    width: 28rem;
    background-color: #e0c071fb;
    background-image: url(../../assets/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1rem solid white;
    box-shadow:
        0 0 2rem #fff,
        inset 0 0 3rem #262525,
        0 0 2rem #3877ff,
        inset 0 0 3rem black,
        0 0 3rem rgb(20, 20, 20);

}
.intro-img:nth-child(2):hover{
    box-shadow: 0 0 3rem rgb(143, 110, 11);

    transition: 0.8s;
}
.introcontent{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    gap: 0.5rem;
    
}
.hello{
    padding: 3rem 0 0 0;
    font-size: 2.2rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.introname{
    color: yellow;
   
}
.intropara{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.btn{
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
.btn:hover{
    background-color:  rgb(172, 100, 1);
    transition: 1s;
}
.hiremebtn{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
   
}
@media  only screen and (max-width:760px) {
    .intro{
        max-height: 70vh;
        padding: 2rem 1rem;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-left: 30px;
        
    }
    .introcontent{
        width: 100%;
        max-height: 70vh;
        padding: 1rem;
        font-size: 2rem;
    }
    .hello{
        font-size: 1.25rem;

    }
    .introname{
        font-size: 2rem;

    }
    .intropara{
        font-size: 12px;
        text-align: justify;
        
    }
    .intro-img:nth-child(1){
        width: 10rem;
        left: 80%;
        top: 50%;
    }
    .intro-img:nth-child(2){
        width: 20rem;
        left: 50%;
        top: 20%;
    }
    .btn{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .hiremebtn{
        height: 0.75rem;
    }
}
@media only screen and (max-width:480px){
.intro-img:nth-child(1){
    width: 15rem;
    top: 30%;
    left: 80%;


}    
.intro-img:nth-child(2){
    width: 10rem;
    top: 30%;
    left: 80%;
}
.introcontent{
    font-size: 1.5rem;
    max-width: 50rem;
    margin-left: 30px;
}

.hello{
    font-size: 1rem;
}
.intropara{
    font-size: 12px;
}
}
@media only screen and (max-width: 388px){
    .intro-img:nth-child(1){
        top: 20%;
    }
      .intro-img:nth-child(2    ){
        top: 20%;
    }
}